
@{
    Layout = @ViewBag.VBLayout; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommunityUser</title>
    <style>
    </style>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body>

    @*@Html.Raw(ViewBag.DUMMY2)*@

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Community User</a></li>
        <li class="breadcrumb-item active">Homepage</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            Recent and Current Records of Community Users
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Solved Water Cases: </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.WaterScore</a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Solved Land Cases:</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link"> @ViewBag.LandScore</a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Overall Score:</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link"> @ViewBag.OverallScore</a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Areas Reported:  </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.AreaScore</a>

                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            My Reported Cases
        </div>


        <div class="card-body">

            <select name="UpdatedStatusDDL" class="btn btn-dark UpdatedStatusDDL">- Please Select -</select>

            <div class="control-label col-xs-12 col-sm-4">
                <label class="asteriskRequired"></label>
            </div>

            <div style="padding-top:25px; height:500px" id='map'></div>
        </div>

        <div class="card-footer small text-muted">Data as of @ViewBag.DATETIMENOW</div>
    </div>

    @*@Html.Raw(ViewBag.DUMMY2)*@
</body>
</html>


<script>

    $(document).ready(function () {
        LoadUpdatedStatusDDL();
        LoadMap();
    });

    function LoadMap() {
    var map = L.map('map');
        var locations = [
            [
                "DENR HEADQUARTERS", 14.642285, 121.050823],
             @Html.Raw(ViewBag.DUMMY2)
        ];

        var a = 'https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmJyb29rMTU0IiwiYSI6ImNpcXN3dnJrdDAwMGNmd250bjhvZXpnbWsifQ.Nf9Zkfchos577IanoKMoYQ';
        var b = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';


        var maxBounds = [
            [21.116625, 131.175528],
            [4.991861, 115.976455]
        ];

        L.tileLayer(b).addTo(map);
        map.setView([14.642285, 121.050823], 15);
        map.setMaxBounds(maxBounds);
        map.fitBounds(maxBounds);

        for (var i = 0; i < locations.length; i++) {
            marker =  new L.marker([locations[i][1], locations[i][2]])
                .bindPopup(locations[i][0])
                .addTo(map);
        }
        $('.leaflet-control-attribution').hide();
        setTimeout(function () {
            map.invalidateSize();
        }, 10);
        map.invalidateSize();
    }

    function LoadUpdatedStatusDDL() {
        var temp = $(".UpdatedStatusDDL").empty();
        temp.append($("<option>Select Status</option>"));
        $.ajax({
            type: "GET",
            url: "/DataGet/GetUpdatedStatus",
            dataType: "json",
            success: function (response) {
                $.each(response, function () {

                    temp.append($("<option></option>").val(this['UpdatedStatusID']).html(this['Description']));
                });
            }
        })
    };

    $(document).on("change", ".UpdatedStatusDDL", function () {
        var PARAM_UPDATEDSTATUSID = $('.UpdatedStatusDDL').val();
        if (PARAM_UPDATEDSTATUSID == 0 || PARAM_UPDATEDSTATUSID == "" || PARAM_UPDATEDSTATUSID == null || PARAM_UPDATEDSTATUSID == "Select Status") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select a year!',
                footer: '<a>Powered by TerraTech</a>'
            })
        }
        else {
            try {
                window.location.href = "/Entities/CommunityUser?UpdatedStatusID=" + PARAM_UPDATEDSTATUSID;
            }
            catch
            {

            }
        }
    });

</script>



@*

        //var LeafIcon = L.Icon.extend({
        //    options: {
        //        iconSize: [38, 95],
        //        shadowSize: [50, 64],
        //        iconAnchor: [22, 94],
        //        shadowAnchor: [4, 62],
        //        popupAnchor: [-3, -76]
        //    }
        //});
        //var greenIcon = new LeafIcon({
        //    iconUrl: 'http://leafletjs.com/examples/custom-icons/leaf-green.png',
        //    shadowUrl: 'http://leafletjs.com/examples/custom-icons/leaf-shadow.png'
        //})

            // L.marker([51.5, -0.09], { icon: greenIcon }).addTo(map);
        //L.Icon.Default.prototype.options.iconUrl =
        //L.Icon.Default.prototype.options.shadowUrl = "http://leafletjs.com/examples/custom-icons/leaf-shadow.png";

        //L.Icon.Default.prototype.options = {
        //    iconUrl: 'C:\Users\pc\Desktop\Green.png',
        //    iconSize: [20, 70],
        //    iconAnchor: [10, 70],

        //}

    **@